.webp{
	.header-intro{
		.intro{
			&:before{
				background-image: url(../images/radial-circle.webp);
				@media (max-width: 1399px){
					background-image: url(../images/radial-circle-1200.webp);
				}
			}
		}
	}
}



.header-intro{
	.intro{
		&:before{
			background-image: url(../images/radial-circle.png);
			@media (max-width: 1399px){
				background-image: url(../images/radial-circle-1200.png);
			}
		}
		&-bg{
			background-image: url(../images/rubber-parts.png);
			@media (max-width: 1750px){
				background-image: url(../images/rubber-parts-1600.png);				
			}
			@media (max-width: 1399px){
				background-image: url(../images/rubber-parts-1200.png);				
			}
		}
	}
}