.webp{
	.header-intro{
		.intro{
			&:before{
				background-image: url(../images/radial-circle.webp)
			}
		}
	}
}



.header-intro{
	.intro{
		&:before{
			background-image: url(../images/radial-circle.png)
		}
		&-bg{
			background-image: url(../images/rubber-parts.png);
			@media (max-width: 1750px){
				background-image: url(../images/rubber-parts-1600.png);				
			}
		}
	}
}