::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
// @supports (-ms-ime-align:auto) {
// }
_::-webkit-full-page-media, _:future, :root .selector {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.inner .main{
		overflow: visible;
	}

	.main-grid{
		height: auto;
		min-height: 100%;
	}

	.d-md-grid{
		display: flex;
		flex-wrap: wrap;
	}

	.cell-header{
		width: 100%;
	}


	.visual-newproducts{
		padding-top: 6.5rem;
	}

	.pill-content > .pill-pane, .tab-content > .tab-pane{
		overflow: visible;
	}

	.inner-about .item-product__link, 
	.inner-about .item-product__link, 
	.inner-products .item-product__link,
	.inner-products .item-product__link{
		img, 
		picture{
			max-width: 90%
		}
	}


	.ecp-groups .cell{
		width: 14.2%;
		&-1{
			margin-top: 0;
		}

		.item-catparts__pic{
			padding-top: 25px;
		}
	}

	.suspension-page{
		.cell{
			width: 15%;
		}

		.suspension-groups{
			margin-top: 40px;
		}
	}


	.inner-parts .ecp-page .mainpic, .inner-parts .suspension-page .mainpic{
		position: static;
		transform: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		margin-top: 20px;
	}
}