$color1:#000;
$color2:#fff;
$color3:#f7f7f7;
$color4:#f8f8f8;
$color5:#010101;
$color6:#6a6a6a;
$color7:#d82027;
$color8: #fffefe;
$color9: #2065d8;
$color10: #909090;
$color11: #0d0d0d;
$color12: #a1a1a1;
$color13: #747474;
$color14: #083989;
$color15: #14183d;
$color16: #41a3ff;
$color17: #7f7f7f;