.inner-contacts{
	background-color: #083989;
	background-position: left bottom;
	background-repeat: no-repeat;
	height: 100%;	
	color: #fff;
	padding: 5rem 0;

	.title{
		color: #fff;
		font-family: "Futura BT";
		font-size: 8rem;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 4rem;
		padding-bottom: 2.5rem;
		position: relative;
		&:after{
			@extend .before;
			background-color: #2065d8;
			bottom: 0;
			height: 5px;
			left: 50%;
			margin-left: -45px;
			width: 89px;
		}
	}

	.rmp{
		color: $color7;
		font-family: "Futura BT";
		font-size: 6rem;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 3rem;
	}

	.address{
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}

	.tel,
	.email{
		font-family: "Futura Book C";
		font-size: 4rem;
		margin-top: 1.5rem;
		a{
			color: $color7;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}

	@media (max-width:1399px){
		.title{
			font-size: 6rem;
		}
		.rmp{
			font-size: 3.6rem;
		}

		.address{
			font-size: 3rem;
		}

		.tel,
		.email{
			font-size: 3.4rem;
		}
	}

	@media (max-width: 991px){
		.title{
			font-size: 5.4rem;
		}
		.rmp{
			font-size: 3.4rem;
		}

		.address{
			font-size: 3.2rem;
		}

		.tel,
		.email{
			font-size: 3rem;
		}
	}

	@media (max-width: 768px){
		.title{
			font-size: 5rem;
		}
		.rmp{
			font-size: 3.2rem;
		}

		.address{
			font-size: 3rem;
		}

		.tel,
		.email{
			font-size: 2.6rem;
		}
	}


	@media (max-width: 550px){
		.title{
			font-size: 4.2rem;
		}
		.rmp{
			font-size: 2.8rem;
		}

		.address{
			font-size: 2.5rem;
		}

		.tel,
		.email{
			font-size: 2.2rem;
		}
	}


	@media (max-width: 480px){
		.title{
			font-size: 3.8rem;
		}
		.rmp{
			font-size: 2.4rem;
			line-height: 1.2;
		}

		.address{
			font-size: 2.2rem;
		}

		.tel,
		.email{
			font-size: 2rem;
			.icon{
				display: none;
			}
		}
	}
}

.map{
	max-height: 40rem;
	overflow: hidden;
	iframe{
		margin-top: -50px;		
	}
}