@font-face {
	font-family: 'Futura BT';
	src: local('Futura BT'),
		 url('../fonts/Futura Md BT Medium.woff2') format('woff2'),
		 url('../fonts/Futura Md BT Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Futura Demi C';
	src: local('Futura Demi C'),
		 url('../fonts/FuturaDemiC.woff2') format('woff2'),
		 url('../fonts/FuturaDemiC.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Futura Book C';
	src: local('Futura Book C'),
		 url('../fonts/FuturaBookC.woff2') format('woff2'),
		 url('../fonts/FuturaBookC.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
