.container{
	margin-right: auto;
	margin-left: auto;
}

[class*="grid-"]{
	grid-row-gap: 30px;
	grid-column-gap: 30px;
}


.homepage{
	.container{
		max-width: 98%;
	}
}


.inner{
	.container{
		max-width: 98%;		
	}
	@media (min-width: 1250px) {
		.container {
			// max-width: 1200px;
		}
	}
	@media (min-width: 1500px) {
		.container {
			max-width: 1525px;
		}
	}
	@media (min-width: 1800px) {
		.container {
			max-width: 1780px;
		}
	}


	@media (min-width: 1900px) {
		.container {
			max-width: 1840px;
		}
	}
}




@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
	  	.d#{$infix}-grid{
	  		display: grid
	  	}
  }
}


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

	@for $i from 1 through 12{
	  	.grid#{$infix}-#{$i}{
			grid-template-columns: repeat(#{$i}, 1fr);  		
			
	  	}
	}
  }
}