.homepage{
	.footer{
		background: #083989;
		.container{
			border-top: 1px solid rgba(255,255,255,.1);
			padding-top: 2rem;
		}
	}
}

.header-intro{
	background-color: $color3;
    background: linear-gradient(#f4f4f4, #f3f3f3);
	min-height: 950px;
	position: relative;
	padding-top: 1rem;
	&:before{
		@extend .before;
		width: 0;
		height: 0;
		border-top: 670px solid $color4; 
		border-right: 1280px solid transparent;
	}	
	&:after{
		@extend .before;
		background: url(../images/bg-line.png) repeat-x left bottom;
		bottom: 0;
		height: 43px;
		left: 0;
		width: 100%;
	}

	.header{
		position: relative;
		z-index: 10;
	}


	.intro{
		margin-top: 5rem;
		padding-left: 12rem;
		padding-top: 83px;
		position: relative;
		z-index: 90;
		&:before{
			@extend .before;
			background-repeat: no-repeat;
			background-position: center;
			height: 258px;
			width: 258px;
			left: 0;
			top: 0;
		}

		&-wrapper{
			margin-right: 0;
			overflow: hidden;
		}

		&-bg{
			background-repeat: no-repeat;
			background-position: right 120px;
			position: relative;
		}
	}



	/* =about
	---------------------------*/
	.about{
		&__title{
			font-size: 2rem;
			color: $color8;
			position: relative;
			span{
				align-items: center;
				background-color: $color7;
				border-radius: 4rem;
				display: inline-flex;
				height: 4rem;
				padding: 0 1.8rem;				
			}
		}		
		&__text{
			color: $color7;
			font-size: 4.4rem;
			font-weight: 400;
			font-family: 'Futura Demi C';
			text-transform: uppercase;
			span{
				font-family: 'Futura BT';
				color: #000;
				font-weight: 700;
			}
		}
	}
	/* =/about
	---------------------------*/


	/* =catalog
	---------------------------*/
	.catalog{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		&__item{
			flex-basis: 50%;
			font-size: 2.2rem;
			margin-top: .8rem;
			width: 50%;			
		}
		&__pic{
			margin-right: 2.5rem;
			width: 75px;
			img{
				filter: none;
				transform: .3s;
			}			
		}

		&__link{
			display: flex;
			align-items: center;
			border-radius: 9rem;
			height: 9rem;
			line-height: 1.2;
			padding: 1.2rem 2rem;
			width: 95%;
			&:hover{
				background-color: $color9;
				box-shadow: 2px 3px 5px rgba(31, 115, 255, 0.75);
				color: #fff;
				text-decoration: none;
				img{
					filter: grayscale(1) invert(1) brightness(5);
				}
			}
		}
	}
	/* =/catalog
	---------------------------*/



	/* =cifres
	---------------------------*/
	.cifres{
		position: relative;
		// padding-top: 15rem;
		padding-bottom: 75px;
		margin-top: -9rem;
		&__item{
			position: relative;
			&:not(:last-child){
				padding-right: 2.5rem;
				margin-right: 3rem;				
				&:after{
					@extend .before;
					background: #000;
					height: 55px;
					opacity: 0.1;
					right: 0;
					top: 10px;
					width: 1px;
					z-index: 10;
				}
			}
		}
	}

	.item__cifr{
		&-title{
			color: #000;
			font-family: "Futura Demi C";
			font-size: 3rem;
			font-weight: 400;
		}
		&-desc{
			color: $color10;
			font-family: "Futura Book C";
			font-size: 1.7rem;
		}
	}
	/* =/cifres
	---------------------------*/


	.car{
		margin: -23px -40px 0 -140px;
		overflow: hidden;
	}


	.dot{
		overflow: hidden;
		position: absolute;
		height: 44px;
		width: 44px;
		z-index: 101;
		&:hover{
			z-index: 102;
			overflow: unset;
		}
		&-button{
			background: url(../images/dot.png) no-repeat left top;
			border: none;
			cursor: pointer;
			height: 44px;
			margin: 0;
			padding: 0;
			width: 44px;
			&:hover{
				background-position: left -44px;
				& + .plate{
					opacity: 1;
					z-index: 20;
				}
			}
		}

		&.active{
			overflow: inherit;
			z-index: 102;
			.plate{
				opacity: 1;
				z-index: 20;
			}

			.dot-button{
				background-position: left -44px;
			}
		}

		&-1{left: 88px; top: 568px;
			.plate{
				width: 22rem;
			}
		}
		&-2{left: 88px; top: 430px}
		&-3{left: 99px; top: 322px}
		&-4{left: 200px; top: 255px}
		&-5{left: 310px; top: 322px}
		&-6{left: 385px; top: 380px}
		&-7{left: 378px; top: 464px}
		&-8{left: 330px; top: 523px}
		&-9{left: 372px; top: 578px}
		&-10{left: 450px; top: 595px}
		&-11{left: 564px; top: 595px}
		&-12{left: 480px; top: 316px}
		&-13{left: 602px; top: 383px}
		&-14{left: 725px; top: 270px}

		@media (max-width: 1750px) {
			&-1{left: 45px; top: 455px;}
			&-2{left: 45px; top: 340px}
			&-3{left: 50px; top: 250px}
			&-4{left: 140px; top: 200px}
			&-5{left: 240px; top: 255px}
			&-6{left: 285px; top: 300px}
			&-7{left: 290px; top: 370px}
			&-8{left: 250px; top: 410px}
			&-9{left: 280px; top: 470px}
			&-10{left: 340px; top: 485px}
			&-11{left: 430px; top: 485px}
			&-12{left: 370px; top: 233px}
			&-13{left: 460px; top: 310px}
			&-14{left: 560px; top: 205px}
		}

		@media (max-width: 1399px) {
			&-1{left: 15px; top: 375px;}
			&-2{left: 15px; top: 280px}
			&-3{left: 20px; top: 200px}
			&-4{left: 100px; top: 160px}
			&-5{left: 170px; top: 195px}
			&-6{left: 220px; top: 240px}
			&-7{left: 220px; top: 290px}
			&-8{left: 180px; top: 350px}
			&-9{left: 220px; top: 385px}
			&-10{left: 270px; top: 405px}
			&-11{left: 330px; top: 395px}
			&-12{left: 280px; top: 195px}
			&-13{left: 370px; top: 250px}
			&-14{left: 460px; top: 170px}
		}
	}

	.plate{
		align-items: center;
		background-color: #fff;
		border-radius: 8rem;
		box-shadow: 2px 3px 5px rgba(31, 115, 255, 0.75);
		display: flex;
		height: 8rem;
		opacity: 0;
		padding: .4rem 1rem .4rem .4rem;
		position: absolute;
		left: calc(100% + 9px);
		top: -20px;
		transition: opacity .3s;
		width: 19rem;
		z-index: -1;

		&__pic{
			clip-path: circle(35px);
			width: 70px;
			height: 70px;
		}
		&__title{
			font-family: "Futura Book C";
			font-size: 1.6rem;
			color: $color11;
			line-height: 1.2;
			margin-left: 1.2rem;
		}
	}
}


.show-all{
	display: inline-flex;
	$color: $color7;
	align-items: center;
	color: $color;
	border: 2px solid $color;
	border-radius: 3.5rem;
	height: 3.5rem;
	margin-left: 2.5rem;
	font-family: "Futura Demi C";
	font-size: 1.5rem;
	padding: 0 1.2rem;
	height: 3.5rem;
	&:hover{
		background-color: $color;
		color: #fff;
		text-decoration: none;
	}
}


.new-products{
	padding-top: 4.5rem;
	.title{
		font-size: 4rem;
		font-family: "Futura BT";
		text-transform: uppercase;
		font-weight: 700;
	}

	#newproducts-carousel{
		padding: 2rem 0 5rem ;
	}
	.item-product{
		&__link{
			text-align: center;
			&:hover{
				color: $color9;
				text-decoration: none;
			}
		}
		&__pic{
			img{
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			text-align: center;
		}
		&__title{
			font-family: "Futura BT";
			font-size: 1.7rem;
			font-weight: 700;
			margin-top: 1.5rem;
		}
	}

	&-arrows{
		flex-grow: 1;
		display: none;
		justify-content: flex-end;
		padding-right: 2rem;
		.slick{
			&-arrow{
				background: #d82027 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKCAYAAAB4zEQNAAAAVElEQVQoU2NkQAP///9PBgo5AXEKI7IcUCITyJ8GxP+BWBkuCZWYClWcwcjIOAssiU0CJM4IlNAE0tegRoF1wKzCL4nXWJgROB2EpgDTK0gK4IEAAMPNMlMZzEiBAAAAAElFTkSuQmCC) no-repeat 48% center;
				border-radius: 50%;
				border: none;
				height: 30px;
				margin: 0;
				padding: 0;
				width: 30px;
			}
			&-next{
				transform: rotate(180deg);
				margin-left: 5px;
			}
		}
	}
}


/* =lastnews
---------------------------*/
.lastnews{
	background: #083989;
	margin-top: 27px;
	padding: 4.3rem 0 6.5rem;
	.title{
		font-family: "Futura BT";
		font-size: 5rem;
		color: #fff;
		text-transform: uppercase;
	}

	.news__list{
		margin-top: 2.1rem;
	}

	.item-news{
		&__link{
			display: flex;
			align-items: center;
			padding-right: 2rem;
			text-decoration: none;
			&:hover{
				.item-news{
					&__title{
						color: $color7;
					}
					&__more{
						color: #fff;
					}
					&__pic{

						img{
							transform: scale(1.2);
						}
					}
				}
			}
		}

		&__bg{
			position: relative;
			&:after,
			&:before{
				@extend .before;
				background-color: #fff;
				width: 100%;
				height: 100%;
				opacity: 0.1;
			}

			&:before{
				left: 8px;
				top: 8px;
			}
			&:after{
				left: 16px;
				top: 16px;
			}			
		}

		&__pic{
			flex-shrink: 0;
			overflow: hidden;
			position: relative;
			z-index: 2;

			img{
				transition: transform .3s;
			}
		}
		&__desc{
			min-height: 150px;
			padding-left: 3.6rem;			
		}
		&__title,
		&__more{
			transition: color .3s;
		}

		&__title{
			color: #fff;
			font-family: "Futura BT";
			font-weight: 700;
			font-size: 1.7rem;
			line-height: 1.47;
			text-transform: uppercase;
		}
		&__text{
			color: $color12;
			font-size: 1.6rem;
			line-height: 1.5;
			margin-top: 2.2rem;
		}
		&__more{
			color: red;
			font-size: 1.6rem;
			margin-top: 1rem;
		}
	}
}


/* =/lastnews
---------------------------*/


.scene-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	z-index: 99;
	overflow: hidden;
}

#scene{
	height: 100%;
}


.layer{
	width: 100%;
	height: 100%;

	&-1{
		background: url(../images/parallax/gray-1.png) no-repeat 150px 55px;
	}
	&-2{
		background: url(../images/parallax/gray-2.png) no-repeat 91% 475px;
	}
	&-3{
		background: url(../images/parallax/blue-1.png) no-repeat 120px 115px;
	}
	&-4{
		background: url(../images/parallax/blue-2.png) no-repeat 98% 95px;
	}
	&-5{
		background: url(../images/parallax/blue-3.png) no-repeat 73% 425px;
	}

	@media (max-width: 1750px) {
		&-1{
			background: url(../images/parallax/gray-1-1600.png) no-repeat 150px 55px;
		}
		&-2{
			background: url(../images/parallax/gray-2-1600.png) no-repeat 75% 475px;
		}
		&-3{
			background: url(../images/parallax/blue-1-1600.png) no-repeat 120px 115px;
		}
		&-4{
			background: url(../images/parallax/blue-2-1600.png) no-repeat 85% 95px;
		}
		&-5{
			background: url(../images/parallax/blue-3-1600.png) no-repeat 55% 425px;
		}		
	}

	@media (max-width: 1399px) {
		&-1{
			background: url(../images/parallax/gray-1-1200.png) no-repeat 60px 40px;
		}
		&-2{
			background: url(../images/parallax/gray-2-1200.png) no-repeat 73% 325px;
		}
		&-3{
			background: url(../images/parallax/blue-1-1200.png) no-repeat 20px 85px;
		}
		&-4{
			background: url(../images/parallax/blue-2-1200.png) no-repeat 77% 80px;
		}
		&-5{
			background: url(../images/parallax/blue-3-1200.png) no-repeat 50% 325px;
		}		
	}


	@media (max-width: 1199px) {
		&-1{
			background: url(../images/parallax/gray-1-1000.png) no-repeat 60px 40px;
		}
		&-2{
			background: url(../images/parallax/gray-2-1000.png) no-repeat 95% 325px;
		}
		&-3{
			background: url(../images/parallax/blue-1-1000.png) no-repeat 20px 85px;
		}
		&-4{
			background: url(../images/parallax/blue-2-1000.png) no-repeat 110% 80px;
		}
		&-5{
			background: url(../images/parallax/blue-3-1000.png) no-repeat 80% 300px;
		}		
	}

	@media (max-width: 991px) {
		&-1{
			background: url(../images/parallax/gray-1-768.png) no-repeat 25px 20px;
		}
		&-2{
			background: url(../images/parallax/gray-2-768.png) no-repeat 75% 265px;
		}
		&-3{
			background: url(../images/parallax/blue-1-768.png) no-repeat 10px 55px;
		}
		&-4{
			background: url(../images/parallax/blue-2-768.png) no-repeat 110% 80px;
		}
		&-5{
			background: url(../images/parallax/blue-3-768.png) no-repeat 60% 220px;
		}		
	}

	@media (max-width: 576px) {
		&-1{
			background: url(../images/parallax/gray-1-420.png) no-repeat 130px 20px;
		}
		&-2{
			background: url(../images/parallax/gray-2-420.png) no-repeat 65% 170px;
		}
		&-3{
			background: url(../images/parallax/blue-1-420.png) no-repeat 110px 35px;
		}
		&-4{
			background: url(../images/parallax/blue-2-420.png) no-repeat 90% 20px;
		}
		&-5{
			background: url(../images/parallax/blue-3-420.png) no-repeat 50% 140px;
		}		
	}
}
