.homepage{

}

.header-intro{
	background-color: $color3;
    background: linear-gradient(#f4f4f4, #f3f3f3); /*PIE*/
	min-height: 950px;
	position: relative;
	padding-top: 1rem;
	&:before{
		@extend .before;
		width: 0;
		height: 0;
		border-top: 670px solid $color4; 
		border-right: 1280px solid transparent;
	}	
	&:after{
		@extend .before;
		left: 0;
		bottom: 0;
		background: url(../images/bg-line.png) repeat-x left bottom;
		width: 100%;
		height: 43px;
	}

	.header{
		position: relative;
		z-index: 10;
	}


}