.homepage{

}

.header-intro{
	background-color: $color3;
    background: linear-gradient(#f4f4f4, #f3f3f3); /*PIE*/
	min-height: 950px;
	position: relative;
	padding-top: 1rem;
	&:before{
		@extend .before;
		width: 0;
		height: 0;
		border-top: 670px solid $color4; 
		border-right: 1280px solid transparent;
	}	
	&:after{
		@extend .before;
		background: url(../images/bg-line.png) repeat-x left bottom;
		bottom: 0;
		height: 43px;
		left: 0;
		width: 100%;
	}

	.header{
		position: relative;
		z-index: 10;
	}


	.intro{
		position: relative;
		z-index: 10;
		margin-top: 5rem;
		padding-left: 12rem;
		position: relative;
		padding-top: 60px;
		&:before{
			@extend .before;
			background: url(../images/radial-circle.png) no-repeat center;
			height: 258px;
			width: 258px;
			left: 0;
			top: 0;
		}		
	}



	/* =about
	---------------------------*/
	.about{
		
		

		&__title{
			font-size: 2rem;
			color: $color8;
			position: relative;
			span{
				align-items: center;
				background-color: $color7;
				border-radius: 4rem;
				display: inline-flex;
				height: 4rem;
				padding: 0 1.8rem;				
			}
		}		
		&__text{
			color: $color7;
			font-size: 4.5rem;
			font-weight: 400;
			font-family: 'Futura Demi C';
			text-transform: uppercase;
			span{
				font-family: 'Futura BT';
				color: #000;
				font-weight: 700;
			}
		}
	}
	/* =/about
	---------------------------*/


	/* =catalog
	---------------------------*/
	.catalog{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		&__item{
			flex-basis: 50%;
			font-size: 2.2rem;
			margin-top: .8rem;
			width: 50%;			
		}
		&__pic{
			margin-right: 2.5rem;
			width: 75px;
			img{
				filter: none;
				transform: .3s;
			}			
		}

		a{
			display: flex;
			align-items: center;
			border-radius: 9rem;
			height: 9rem;
			line-height: 1.2;
			padding: 1.2rem 2rem;
			width: 95%;
			&:hover{
				background-color: $color9;
				box-shadow: 2px 3px 5px rgba(31, 115, 255, 0.75);
				color: #fff;
				text-decoration: none;
				img{
					filter: grayscale(1) invert(1) brightness(5);
				}
			}
		}
	}
	/* =/catalog
	---------------------------*/

}