.icon{
	display: inline-block;
}

.icon-email{
  @include sprite($icon-email);
  margin-right: 2.2rem;
  position: relative;
  top: .3rem;
}

.icon-tel{
  @include sprite($icon-tel);
  margin-right: 2.2rem;
  position: relative;
  top: .3rem;
}


.icon-login{
  @include sprite($icon-login);
  margin-right: .7rem;
  position: relative;
  transition: .3s;
}


.icon-search{
  @include sprite($icon-search);
  margin-right: 1rem; 
  transition: .3s;
}

.icon-photo{
	display: block;
	@include sprite($icon-photo);
	&:hover{
		@include sprite($icon-photo-hover);		
	}
}

.icon-arrow-right-white{
	display: block; 
	@include sprite($icon-arrow-right-white);
	&:hover{
		@include sprite($icon-arrow-right-white-hover);		
	}
}


.icon-thumbs{
	background-color: #2065d8;
	margin-right: 1rem; 
	transition: .3s;
	position: relative;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	&:before{
		@extend .before;
		@include sprite($icon-thumbs);
		left: 4px;
		top: 4px;
	}
	&:hover{
		background-color: #d82027;
	}
}
