/* =submenu
---------------------------*/
.submenu{
	background: #083989;
	border-bottom: 1rem solid $color7;
	color: #fff;
	display: flex;
	font-family: "Futura Demi C";
	font-size: 2rem;
	margin-top: 2.2rem;

	li:not(:last-child){
		margin-right: 10.5rem;
	}
	.active{
		position: relative;
		&:before{
			@extend .before;
			background-color: $color7;
			bottom: 0;
			left: -5rem;
			right: 0;
			top: 0;
			width: calc(100% + 10rem)
		}
	}

	a,
	span{
		position: relative;
		display: flex;
		align-items: center;
		padding: 2.6rem 0;
	}

	span{
		cursor: default;
	}

	a{
		color: currentColor;
		&:hover{
			color: $color7;
			text-decoration: none;
		}
	}
}
/* =/submenu
---------------------------*/

.inner-parts{
	h1{
		color: $color7;
		font-family: "Futura BT";
		font-weight: 700;
		text-transform: uppercase;
	}
}

/* =transmission-page
---------------------------*/
.transmission-page{
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	padding-top: 5rem;
	.mainpic{
		display: block;
		padding-top: 3.5rem;
	}

	.catparts{
		margin-top: 3rem;
	}
}
/* =/transmission-page
---------------------------*/

.item-catparts{
	&__link{
		display: block;
		text-align: center;
		width: 16rem;
		&:hover{
			text-decoration: none;
			.item-catparts{				
				&__title
				{
					color: $color9;
					span{
						color: $color9;
					}
				}
			}

			img{
				transform: scale(1.1);
			}
		}
	}

	picture,
	img{
		transition: transform .3s;
	}

	&__pic{
		background: url(../images/radial-circle-middle.png) no-repeat ;
		background-position: center 15px;
		display: flex;
		align-items: center;
		min-height: 185px;
		padding-top: 1rem;
	}

	&__title{
		font-family: "Futura Demi C";
		font-size: 2rem;
		color: #383838;
		line-height: 1;
		padding-top: 1rem;
		span{
			color: $color7;
		}
	}
}