$color_1: #fff; 
$color_2: #0563bf;


/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/




@media (max-width: 1199px){
	.navbar-toggle{
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAYAAAA/mJfHAAAALklEQVQ4T2O8oaD+n4FKgHHwGkYlH4KNYRwhhg3e2KSqy0ZIbFLVm1SNgEFrGACZNBMgpS8iIwAAAABJRU5ErkJggg==) no-repeat 17px center;
		align-items: center;
		border-radius: 4.5rem;
		border: 3px solid #d82027;
		cursor: pointer;
		display: flex;
		font-size: 1.5rem;
		margin-left: 3rem;
		margin-top: 1.2rem;
		height: 4.5rem;
		padding: 0 1.6rem 0 4.4rem;
	}
}