$color_1: #fff; 
$color_2: #0563bf;


/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


.a-rotate90{
	svg{
		transition: transform .3s;
	}
	&:hover{
		svg{
			transform: rotate(90deg)
		}
	}
}


.mobmenu{
	background-color: $color7;
	color: #fff;
	display: none;
	transform: translateY(-100%);
	padding: .3rem 1.5rem 2rem;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9999;
	transition: transform .3s;
	&.show{
		transform: translateY(0)
	}

	&__top{
		border-bottom: 1px solid rgba(255,255,255,.3);
		padding-bottom: 1.5rem;
		position: relative;
	}
	a{
		color: #fff;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.nav{
		font-size: 2.5rem;
		font-family: "Futura Demi C";
		text-align: center;
		li{
			margin: 1.3rem 0;
			&.active{
				text-decoration: underline;
			}
		}
	}

	.langs{
		$color: #fff;
		display: flex;
		font-size: 1.5rem;
		margin-top: 1.2rem;
		a{
			color: #fff;
			text-decoration: none;
			&:hover{
				color: $color;
			}
		}
		a, span{
			display: flex;
			align-items: center;
			height: 3rem;
			padding: 0 1.5rem;
		}
		.current{
			background-color: $color;
			color: $color7;
			height: 3rem;
			border-radius: 3rem;
		}
	}

	.close{
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		line{
			stroke: #fff;
			stroke-width: 3px;
		}
		svg{
			display: block;
		}
	}

	&__body{
		position: relative;
		z-index: 9999;
	}
}


@media (max-width: 1199px){
	.navbar-toggle{
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAYAAAA/mJfHAAAALklEQVQ4T2O8oaD+n4FKgHHwGkYlH4KNYRwhhg3e2KSqy0ZIbFLVm1SNgEFrGACZNBMgpS8iIwAAAABJRU5ErkJggg==) no-repeat 17px center;
		align-items: center;
		border-radius: 4.5rem;
		border: 3px solid #d82027;
		color: $color5;
		cursor: pointer;
		display: flex;
		font-size: 1.5rem;
		margin-left: 3rem;
		margin-top: 1.2rem;
		height: 4.5rem;
		padding: 0 1.6rem 0 4.4rem;
	}

	.mobmenu{
		display: block;
	}
}

