.aside{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	&__inner{
		// padding-left: 8.3%;
	}
	.title{
		font-family: "Futura BT";
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.5;
		text-transform: uppercase;
	}

	.visual{
		background: #1755bb url(../images/visual-products-2.jpg) no-repeat;
		background-size: cover;
		color: #fff;
		text-transform: uppercase;
		font-family: "Futura BT";
		font-weight: 700;
		font-size: 3.5rem;
		margin-top: 4.5rem;
		margin-bottom: 3rem;
		width: 320px;
		a{
			color: #fff;
			display: block;
			height: 374px;
			line-height: 1.29;
			padding: 5rem 0 0 5rem;
			text-decoration: underline;
			width: 100%;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.inner{
	.content{
		&-single{
			padding: 3rem 0 5rem;
			h1{
				margin: 4rem 0 3rem;
			}
			p{
				color: #5c5c5c;
				margin: 1.5rem 0;
			}
		}
	}
}