.aside{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	.title{
		font-family: "Futura BT";
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.5;
		text-transform: uppercase;
	}

	.visual{
		background: #1755bb url(../images/visual-products-2.jpg) no-repeat;
		background-size: cover;
		color: #fff;
		text-transform: uppercase;
		font-family: "Futura BT";
		font-weight: 700;
		font-size: 3.5rem;
		margin-top: 4.5rem;
		margin-bottom: 3rem;
		width: 320px;
		max-width: 100%;
		a{
			color: #fff;
			display: block;
			height: 374px;
			line-height: 1.29;
			padding: 5rem 0 0 5rem;
			text-decoration: underline;
			width: 100%;
			&:hover{
				text-decoration: none;
			}
		}
	}
}


.inner{
	.content{
		&-single{
			padding: 3rem 0 5rem;
			h1{
				margin: 4rem 0 3rem;
			}
			p{
				color: #5c5c5c;
				margin: 1.5rem 0;
			}

			h2{
				font-size: 4rem;
				line-height: 1.2;
			}

			h3{
				font-size: 3.5rem;
			}

			h4{
				font-size: 3.2rem;
			}

			h5{
				font-size: 3rem;
			}

			h6{
				font-size: 2.8rem;
			}

			ol{
				counter-reset: li;  
				list-style: none;
				li{
					margin: 1rem 0;
					padding-left: 20px;
					position: relative;
					&:before{
						color: $color4;
						content: counter(li, decimal) ".";
						counter-increment: li;
						font-size: 14px;
						left: 0;
						position: absolute;
						top: 0;
						width: 20px;
					}
				}
			}

			strong{
				font-family: "Futura Demi C";
				font-weight: 700;
				color: #000;
			}

			a{
				color: $color9;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}

			.red{
				color: #ff0000;
			}

			iframe{
				height: 615px;
				width: 100%;
			}


			$color_1 : #2065d8;
			// ul
			ul{
				margin: 1.5rem 0;
				li{
					color: #5c5c5c;
					padding-left: 35px;
					position: relative;
					margin: 10px 0;
					font-family: "Futura Book C";
					&:before{
						@extend .before;
						background-color: $color_1;
						border-radius: 5px;
						width: 20px;
						height: 5px;			
						left: 0;
						top: 12px;		
					}				
				}
			}

			// ol
			ol{
				color: #5c5c5c;
				counter-reset:li;
				margin-left: 0;
				list-style: none;
				& > li{
					position: relative;
					padding-left: 30px;
					margin: 15px 0;
					&:before{
						font-family: "Futura Demi C";
						color: $color_1;
						$s: 3.1rem;
						border-radius: $s;
						content: counter(li) ")";; /* В качестве данных используем счетчик */
						counter-increment:li; /* Увеличиваем значение счетчика на 1 */
						/* Позиционируем и стилизируем цифры */
						position:absolute;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						top:0px;
						left:0;
						font-size: 20px;
						font-weight: 900;
					}

					ol{
						list-style-type: lower-alpha;
						// counter-reset:li;
						margin-left: 18px;
						li{
							padding-left: 10px;
							// color: $color_1;
							&:before{
								display: none;
							}
						}
					}

				}
			}


			blockquote{
				font-family: "Futura Demi C";
				font-size: 2.5rem;
				text-transform: uppercase;
				line-height: 1.4;
				color: #ffffff;
				background-color: #d82027;
				padding: 3.5rem 3.8rem;
			}

			img{
				max-width: 100%;
				height: auto;
			}
		}
	}
}