.inner-products{
	background-color: #083989;
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
	h1{
		color: #fff;
	}

	.navmenu .nav{
		a{
			color: #fff;
		}
		li.active{
			color: $color7;
		}
	}

	.langs a{
		color: #fff
	}

	.main{
		padding-top: 7.5rem;
	}

	footer{
		background: #14183d;
	}

	.navbar-toggle{
		color: #fff;
	}


	// products list
	.products__list{
		padding-bottom: 3rem;
	}

	.products__item{
		margin: 2rem 0 6rem;
		width: 33.3%;
	}


	.item-product{
		position: relative;

		&__link{
			color: #fff;
			font-family: "Futura Demi C";
			font-size: 3rem;

			picture,
			img{
				margin-left: auto;
				margin-right: auto;
				transition: transform .3s;
				max-width: 100%;
				height: auto;
			}

			&:hover{
				color: #ff2830;
				text-decoration: none;
				picture,
				img{
					transform: scale(1.05);
				}
				.item-product{
					&__pic{			
						&:after{
							opacity: 1;
						}
					}
				}
			}
		}

		&__title{
			margin-top: 1rem;
		}

		&__pic{
			display: flex;
			align-items: center;
			$h: 323px;
			height: $h;
			&:before,
			&:after
			{
				@extend .before;
				background: url(../images/radial-circle-blue.png) left top;
				width: $h;
				height: $h;
				left: 50%;
				top: 0;
				transform: translate(-50%, 0 );
			}
			&:before{
			}
			&:after{
				background-position: left bottom;
				opacity: 0;
				transition: opacity .3s;
			}
		}

		picture,
		img{
			position: relative;
			z-index: 10;
		}
	}
}



@media (max-width: 1200px) {
	.inner-products .item-product{
		&__link{
			font-size: 2.4rem;
		}
		&__pic{
			$h: 258px;
			height: $h;
			&:before,
			&:after
			{
				background-size: cover;
				width: $h;
				height: $h;
			}
		}
	}
}


@media (max-width: 1000px){
	.inner-products .products__item{
		// width: 50%;
	}


	.inner-products .item-product{
		&__link{
			font-size: 2rem;
		}
		&__pic{
			$h: 216px;
			height: $h;
			&:before,
			&:after
			{
				width: $h;
				height: $h;
			}
		}
	}
}


@media (max-width: 768px){
	.inner-products {
		background: #09439e !important;
		.products__item{
			margin: 2rem 0 2.5rem;
			padding-left: 1rem;
			padding-right: 1rem;
			width: 50%;
		}

		.item-product{
			&__pic{
				$h: 215px;
				height: $h;
				&:before,
				&:after
				{
					height: $h;
					width: $h;
				}
			}

			&__link{
				font-size: 2rem;
			}
		}
	}
}



@media (max-width: 600px){
	.inner-products .item-product{
		&__pic{
			$h: 200px;
			height: $h;
			&:before,
			&:after
			{
				height: $h;
				width: $h;
			}
		}
	}	
}


@media (max-width: 576px){
	.inner-products{
		.inner-products .main{
			padding-top: 4rem;
		}
		
		.item-product{
			&__pic{
				$h: 160px;
				height: $h;
				&:before,
				&:after
				{
					height: $h;
					width: $h;
				}
			}

			&__link{
				font-size: 1.6rem;
			}
		}
	}
}





@media (max-width: 380px){
	.inner-products{
		.item-product{
			&__pic{
				$h: 105px;
				height: $h;
				&:before,
				&:after
				{
					height: $h;
					width: $h;
				}
			}

			&__link{
				font-size: 1.5rem;
			}
		}
	}
}
