@media (max-width: 1800px){
	.header-intro{
		.about__text{
			font-size: 4rem;
			white-space: nowrap;
		}
	}


	// news
	.news__list-main{
		.item-news{
			&__bg{
				&:before{
					left: 8px;
					top: 8px;
				}
				&:after{
					left: 16px;
					top: 16px;
				}
			}
			&__pic{
				height: 187px;
				width: 250px;
			}
			&__title{
				font-size: 2.1rem;
			}
			&__text{
				font-size: 1.8rem;
				line-height: 1.4;
				margin-top: 1.8rem;
			}
			&__more{
				font-size: 2rem;
			}

			&__desc{
				padding-left: 3rem;
			}


			&__inner{
				&:before{
					border-top-width: 5px;
					right: -12px;
				}
				&:after{
					border-right-width: 6px;
					right: -17px;
				}
			}
		}
	}

	.visual-newproducts{
		font-size: 4rem;
		min-height: 18rem;
	}

	// =/news
}

@media (max-width: 1750px){
	.header-intro{
		min-height: 850px;
		.intro{
			padding-top: 3.5rem;
		}
		.catalog{
			&__item{
				font-size: 2rem;
			}
			&__link{
				padding-right: 1rem;
			}
		}

		.cifres{
			margin-top: -4rem;
		}
	}

	.new-products{
		padding-top: 7rem;
	}
	.lastnews{
		padding-top: 5.3rem;
		padding-bottom: 0;
		.item-news__link{
			padding-right: 1rem;
		}
	}


	.new-products,
	.lastnews{
		.title{
			font-size: 3.8rem;
		}
	}

	.lastnews{
		.item-news__pic{
			width: 190px;
			height: 140px;
		}
	}
}

@media (max-width: 1600px){
	.header-intro{
		.item__cifr{
			&-title{
				font-size: 2.8rem;
			}
		}

		.intro .about{
			padding-bottom: 1.5rem;
		}
	}

	.main{
		h1{
			font-size: 4rem;
		}
	}

	.content{
		h2{font-size: 3.8rem;}
		h3{font-size: 3.2rem;}
		h4{font-size: 3rem;}
		h5{font-size: 2.8rem;}
		h6{font-size: 2.6rem;}
	}

	.aside{
		.title{
			font-size: 3.6rem;
		}
		.visual{
			font-size: 3.2rem;
			a{
				padding-left: 2.5rem;
			}
		}
	}
}


@media (max-width: 1500px){
	.header-intro{
		.catalog{
			&__item{
				font-size: 1.8rem;
			}
			&__pic{
				margin-right: 1.5rem;
			}
		}
	}
}


@media (max-width: 1399px){
	.header-intro{
		&:after{
			background-image: url(../images/bg-line-1200.png);
			height: 33px;
		}
		.about{
			padding-bottom: .7rem;
			&__title{
				font-size: 1.7rem;
			}
			&__text{
				font-size: 3.8rem;
				line-height: 1.2;
				margin-top: .5rem;
				white-space: normal;
			}
		}

		.intro{
			padding-left: 100px;
			&-wrapper{
				max-width: 100%;
			}
			&:before{
				left: 0;
				background-position: 0 top;
			}
		}

		.catalog{
			&__link{
				height: 8rem;
				width: 100%;
			}
			&__pic{
				margin-right: 1rem;
				width: 55px;
			}
		}

		.cifres{
			margin-top: 8rem;
		}
	}

	.new-products,
	.lastnews{
		.title{
			font-size: 3.6rem;
		}
	}

	.new-products{
		.item-product__title{
			font-size: 1.6rem;
		}
	}


	.aside{
		.title{
			font-size: 3.2rem;
		}
		.visual{
			font-size: 2.8rem;
		}
	}
}


@media (max-width: 1250px){
	.lastnews .item-news{
		margin-bottom: 5.5rem;
	}


}


@media (max-width: 1199px){
	.header-intro{
		&:after{
			background-image: url(../images/bg-line-1000.png);
			height: 27px;
		}

		min-height: 0;
		.intro{
			padding-left: 8rem;
		}

		.catalog{
			&__link{
				padding-left: .5rem;
			}

			&__title{
				font-size: 1.7rem;
			}
		}

		.about__text{
			font-size: 3.6rem;
		}

		.cifres{
			margin-top: 6rem;
			padding-bottom: 8.5rem;
		}

		.item__cifr{
			&-title{
				font-size: 2.4rem;
			}
			&-desc{
				font-size: 1.5rem;
			}
		}

		.plate__title{
			font-size: 1.5rem;
			margin-left: .7rem;
		}
	}

	.new-products,
	.lastnews{
		padding-top: 6rem;
		.title{
			font-size: 3.4rem;
		}
	}

	.dot-button{
		transform: scale(0.8);
	}	


	.news__list{
		margin-top: 3rem;
	}

	.lastnews .item-news{
		margin-bottom: 3.5rem;
		&__link{
			align-items: start
		}
	}


	.main{
		h1{
			font-size: 3.8rem;
		}
	}
	.content{
		h2{font-size: 3.6rem;}
		h3{font-size: 3rem;}
		h4{font-size: 2.8rem;}
		h5{font-size: 2.6rem;}
		h6{font-size: 2.5rem;}
	}
}


@media (max-width: 1050px){
	.header-intro{
		.intro{
			padding-top: 1.2rem;
			.about{
				padding-bottom: 1rem;
			}
		}
		.catalog{
			&__link{
				padding-left: .7rem;
			}
		}

		.cifres{
			margin-top: 2rem;
		}
		.item__cifr-title{
			padding-bottom: .5rem;
		}
	}
}

@media (max-width: 991px){
	.header-intro{
		&:before{
			border-right-width: 600px;
			border-top-width: 300px;
		}
		.intro{
			padding-left: 0;
			&:before{
				left: -70px;
				top: -40px;
			}
		}
		.item__cifr{
			&-title{
				font-size: 2.2rem;
			}
			&-desc{
				font-size: 1.4rem;
			}
		}
		.about{
			&__title{
				span{				
					font-size: 1.6rem;
					height: 3.2rem;
					padding: 0 1.3rem;
				}
			}

			&__text{
				font-size: 3.4rem;
				padding-right: 4rem;
			}
		}

		.catalog{
			&__link{
				height: 7rem;
			}
		}

		.cifres{
			margin-top: 5.5rem;
		}


		.cifres__item:not(:last-child){
			margin-right: 2rem;
		}
	}

	.lastnews,
	.new-products
	{
		.title{
			font-size: 3.2rem;
		}
	}

	.dots{
		display: none;
	}


	.content{
		h2{font-size: 3.4rem;}
		h3{font-size: 2.8rem;}
		h4{font-size: 2.6rem;}
		h5{font-size: 2.5rem;}
		h6{font-size: 2.4rem;}
	}

	.inner .content-single{
		padding-right: 15px;
	}

	.content{
		h1,
		h2,
		h3,
		h4,
		h5,
		h6{
			margin: 2rem 0;
		}
	}

}


@media (max-width: 768px){
	.aside .visual{
		font-size: 2.5rem;
		a{
			padding-left: 2rem;
		}
	}

	.inner .content-single{
		iframe{
			height: 300px;
		}
	}

}


@media (max-width: 767px){
	.header-intro{
		.catalog{
			&__item{
				max-width: 230px;
			}
			&__link{
				padding-left: 1rem;
			}
		}

		.car{
			picture,
			img{
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.new-products{
		&-arrows{
			display: flex;
		}
	}


	.main{
		padding-top: 6rem;
	}

	// =news
	.news__list-main{
		.item-news{
			margin-bottom: 7rem;
			&__title{
				font-size: 1.9rem;
			}
			&__text{
				font-size: 1.7rem;
				margin-top: 1.6rem;
			}

			&__more{
				font-size: 1.7rem;
			}
		}
	}

	.visual-newproducts{
		font-size: 3rem;
		min-height: 15rem;
		margin-bottom: 6rem;
	}

	.pagination{
		padding: 2rem 0 1rem;
		a,
		span{
			font-size: 1.6rem;
			height: 40px;
			width: 40px;
		}
	}


	.inner{
		.content{
			&-single{ 
				padding-left: 15px;
				padding-top: 0;
				blockquote{
					font-size: 2.2rem;
					padding: 3rem 3.8rem;
				}

				h2{font-size: 3.2rem;}
				h3{font-size: 2.6rem;}
				h4{font-size: 2.5rem;}
				h5{font-size: 2.4rem;}
				h6{font-size: 2.3rem;}
				p{
					font-size: 1.8rem;
				}
			}
		}
	}

}


@media (max-width: 650px){
	.header-intro{
		&:before{
			border-right-width: 350px;
			border-top-width: 200px;
		}
	}
}


@media (max-width: 576px){
	.header-intro{
		.cifres{
			.d-flex{
				flex-wrap: wrap
			}

			&__item{
				margin-top: 2.5rem;
			}
		}
		.item{
			&__cifr{
				&-title{
					font-size: 2rem;
				}
			}
		}

		.intro{
			padding-top: 0;
			margin-top: 4rem;
		}

		.cifres{
			margin-top: 0;
			padding-bottom: 6rem;
		}

		.about__text{
			font-size: 3rem;
			padding-right: 0;
		}
	}

	.lastnews,
	.new-products{
		padding-top: 5rem;
		.title{
			font-size: 3rem;
		}
	}

	.lastnews,
	.news__list-main
	{
		.item-news{
			&__title{
				font-size: 1.6rem;
			}			

			&__text{
				font-size: 1.4rem;
			}
		}
	}

	.lastnews{
		.item-news{
			&:after{
				left: 12px;
				top: 12px;
			}
			&:before
			{
				left: 8px;
				top: 8px;
			}

			&__text{
				line-height: 1.4;
				margin-top: 1.6rem;
			}
		}
	}

	.news__list-main .item-news{
		margin-bottom: 5rem;
		&__pic{
			height: 150px;
			width: 200px;
		}
		&__inner{
			&:before{
				border-top-width: 3px;
				right: -13px;
				width: 1.3rem;
			}

			&:after{
				border-right-width: 4px;
				height: 1.8rem;
			}
		}
	}

	.visual-newproducts{
		margin-bottom: 5rem;
		min-height: 13rem;
		font-size: 2.8rem;
	}

	.pagination{
		padding: 2rem 0 0;
		a,
		span{
			font-size: 1.4rem;
			height: 38px;
			width: 38px;
		}
	}
}


@media (max-width: 470px){
	.lastnews,
	.new-products{
		.title{
			font-size: 2.6rem;
		}
	}

	.lastnews,
	.news__list-main
	{
		.item-news{
			&__pic{
				height: 95px;
				width: 125px;
			}
			&__title{
				font-size: 1.5rem;
			}
			&__bg{
				&:before{
					left: 4px;
					top: 4px;
				}
				&:after{
					left: 8px;
					top: 8px;
				}
			}
			&__more{
				font-size: 1.6rem;
			}
		}
	}

	.news__list-main{
		.item-news{
			margin-bottom: 3rem;
			&__desc{
				padding-top: 0;
			}
			&__text{
				margin-top: .5rem;
			}

			&__inner{
				&:before{
					border-top-width: 2px;
					right: -5px;
					top: -10px;
					width: .8rem;
				}

				&:after{
					border-right-width: 3px;
					height: 1.2rem;
					right: -8px;
					top: -10px;
				}
			}

		}
	}

	.scene-wrapper{
		display: none;
	}

	.header-intro{
		overflow: hidden;
		.car{
			margin-top: -8rem;
			img, 
			picture{
				margin-right: -2rem;
			}
		}
		.cifres{
			margin-top: -3rem;
		}
	}

	.new-products{
		.show-all-top{
			display: none;
		}
		.show-all-bottom{
			display: flex;
			justify-content: center;
			width: 100px;
		}		
	}

	.inner{
		.content{
			&-single{ 
				img{
					&.justifyleft,
					&.justifyright,
					{
						display: block;
						margin-left: auto;
						margin-right: auto;
						float: none !important;
					}					
				}
			}
		}
	}
}


@media (max-width: 380px){
	.header-intro{
		.catalog{
			&__item{
				margin-bottom: 3rem;
			}
			&__link{
				display: block;
			}
			&__title{
				padding-top: 1rem;
			}
		}
		.car{
			margin-top: -20rem;
			img, 
			picture{
				margin-right: -7rem;
			}
		}
		.cifres{
			margin-top: -10rem;
		}
	}

	.new-products-arrows{
		padding-right: 0;
	}

	.lastnews,
	.news__list-main{
		.item-news{
			&__bg{
				&:after{
					left: 8px;
					top: 8px;
				}
				&:before
				{
					left: 4px;
					top: 4px;
				}
			}
			&__link{
				align-items: center;
			}
			&__text{
				display: none;
			}
			&__desc{
				min-height: 0;
				padding-left: 2.7rem;
				padding-top: 1.5rem;
			}
		}
	}


	.news__list-main .item-news{
		&__inner{
			&:before{
				border-top-width: 3px;
				right: -4px;
				top: -10px;
				width: .8rem;
			}

			&:after{
				border-right-width: 4px;
				height: 1.2rem;
				right: -8px;
				top: -10px;
			}
		}
	}

	.visual-newproducts{
		font-size: 2.5rem;
		min-height: 11rem;
	}


	.new-products #newproducts-carousel{
		padding-bottom: 2.8rem;
	}


	.main{
		padding-top: 4rem;
		h1{
			font-size: 3.5rem;
		}
	}


	.pagination{
		span,
		a{
			margin: 0 .4rem;
		}
	}


	.main{
		h1{
			font-size: 3.2rem;
		}
	}
	.inner{
		.content{
			&-single{ 
				blockquote{
					font-size: 2rem;
					padding: 1.2rem 1.5rem;
				}

				h2{font-size: 3rem;}
				h3{font-size: 2.5rem;}
				h4{font-size: 2.4rem;}
				h5{font-size: 2.3rem;}
				h6{font-size: 2.2rem;}

			}
		}
	}
}