@media (max-width: 1399px){
	.header-intro:before{
		border-right-width: 800px;
		border-top-width: 500px
	}
	.navmenu{
		margin-top: 1.5rem;
	}


}


@media (max-width: 1199px){
	.navmenu{
		display: none;
	}
}


@media (max-width: 1024px){
}

@media (max-width: 991px){
}

@media (max-width: 767px){
}

@media (max-width: 576px){
	.navbar-toggle{
		margin-left: 2rem;
	}

	.langs{
		a, span{
			padding: 0 1.1rem;
		}
	}
}


@media (max-width: 450px){
	.header{
		.langs{
			display: none;
		}
		&__left{
			display: flex;
			justify-content: space-between;
			width: 100%;
		}		
	}
}


@media (max-width: 380px){
	.footer .logos img{
		margin-right: 1rem;
	}
}