// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-right-white-hover-name: 'icon-arrow-right-white-hover';
$icon-arrow-right-white-hover-x: 48px;
$icon-arrow-right-white-hover-y: 35px;
$icon-arrow-right-white-hover-offset-x: -48px;
$icon-arrow-right-white-hover-offset-y: -35px;
$icon-arrow-right-white-hover-width: 20px;
$icon-arrow-right-white-hover-height: 20px;
$icon-arrow-right-white-hover-total-width: 103px;
$icon-arrow-right-white-hover-total-height: 91px;
$icon-arrow-right-white-hover-image: '../images/sprite.png';
$icon-arrow-right-white-hover: (48px, 35px, -48px, -35px, 20px, 20px, 103px, 91px, '../images/sprite.png', 'icon-arrow-right-white-hover', );
$icon-arrow-right-white-name: 'icon-arrow-right-white';
$icon-arrow-right-white-x: 71px;
$icon-arrow-right-white-y: 0px;
$icon-arrow-right-white-offset-x: -71px;
$icon-arrow-right-white-offset-y: 0px;
$icon-arrow-right-white-width: 20px;
$icon-arrow-right-white-height: 20px;
$icon-arrow-right-white-total-width: 103px;
$icon-arrow-right-white-total-height: 91px;
$icon-arrow-right-white-image: '../images/sprite.png';
$icon-arrow-right-white: (71px, 0px, -71px, 0px, 20px, 20px, 103px, 91px, '../images/sprite.png', 'icon-arrow-right-white', );
$icon-caret-name: 'icon-caret';
$icon-caret-x: 34px;
$icon-caret-y: 61px;
$icon-caret-offset-x: -34px;
$icon-caret-offset-y: -61px;
$icon-caret-width: 17px;
$icon-caret-height: 9px;
$icon-caret-total-width: 103px;
$icon-caret-total-height: 91px;
$icon-caret-image: '../images/sprite.png';
$icon-caret: (34px, 61px, -34px, -61px, 17px, 9px, 103px, 91px, '../images/sprite.png', 'icon-caret', );
$icon-email-name: 'icon-email';
$icon-email-x: 0px;
$icon-email-y: 0px;
$icon-email-offset-x: 0px;
$icon-email-offset-y: 0px;
$icon-email-width: 37px;
$icon-email-height: 35px;
$icon-email-total-width: 103px;
$icon-email-total-height: 91px;
$icon-email-image: '../images/sprite.png';
$icon-email: (0px, 0px, 0px, 0px, 37px, 35px, 103px, 91px, '../images/sprite.png', 'icon-email', );
$icon-l-assembly-name: 'icon-l-assembly';
$icon-l-assembly-x: 20px;
$icon-l-assembly-y: 61px;
$icon-l-assembly-offset-x: -20px;
$icon-l-assembly-offset-y: -61px;
$icon-l-assembly-width: 14px;
$icon-l-assembly-height: 14px;
$icon-l-assembly-total-width: 103px;
$icon-l-assembly-total-height: 91px;
$icon-l-assembly-image: '../images/sprite.png';
$icon-l-assembly: (20px, 61px, -20px, -61px, 14px, 14px, 103px, 91px, '../images/sprite.png', 'icon-l-assembly', );
$icon-l-drawing-name: 'icon-l-drawing';
$icon-l-drawing-x: 91px;
$icon-l-drawing-y: 12px;
$icon-l-drawing-offset-x: -91px;
$icon-l-drawing-offset-y: -12px;
$icon-l-drawing-width: 10px;
$icon-l-drawing-height: 11px;
$icon-l-drawing-total-width: 103px;
$icon-l-drawing-total-height: 91px;
$icon-l-drawing-image: '../images/sprite.png';
$icon-l-drawing: (91px, 12px, -91px, -12px, 10px, 11px, 103px, 91px, '../images/sprite.png', 'icon-l-drawing', );
$icon-l-photo-name: 'icon-l-photo';
$icon-l-photo-x: 71px;
$icon-l-photo-y: 20px;
$icon-l-photo-offset-x: -71px;
$icon-l-photo-offset-y: -20px;
$icon-l-photo-width: 20px;
$icon-l-photo-height: 20px;
$icon-l-photo-total-width: 103px;
$icon-l-photo-total-height: 91px;
$icon-l-photo-image: '../images/sprite.png';
$icon-l-photo: (71px, 20px, -71px, -20px, 20px, 20px, 103px, 91px, '../images/sprite.png', 'icon-l-photo', );
$icon-l-scheme-name: 'icon-l-scheme';
$icon-l-scheme-x: 0px;
$icon-l-scheme-y: 81px;
$icon-l-scheme-offset-x: 0px;
$icon-l-scheme-offset-y: -81px;
$icon-l-scheme-width: 13px;
$icon-l-scheme-height: 10px;
$icon-l-scheme-total-width: 103px;
$icon-l-scheme-total-height: 91px;
$icon-l-scheme-image: '../images/sprite.png';
$icon-l-scheme: (0px, 81px, 0px, -81px, 13px, 10px, 103px, 91px, '../images/sprite.png', 'icon-l-scheme', );
$icon-login-name: 'icon-login';
$icon-login-x: 27px;
$icon-login-y: 35px;
$icon-login-offset-x: -27px;
$icon-login-offset-y: -35px;
$icon-login-width: 21px;
$icon-login-height: 21px;
$icon-login-total-width: 103px;
$icon-login-total-height: 91px;
$icon-login-image: '../images/sprite.png';
$icon-login: (27px, 35px, -27px, -35px, 21px, 21px, 103px, 91px, '../images/sprite.png', 'icon-login', );
$icon-photo-hover-name: 'icon-photo-hover';
$icon-photo-hover-x: 71px;
$icon-photo-hover-y: 40px;
$icon-photo-hover-offset-x: -71px;
$icon-photo-hover-offset-y: -40px;
$icon-photo-hover-width: 20px;
$icon-photo-hover-height: 20px;
$icon-photo-hover-total-width: 103px;
$icon-photo-hover-total-height: 91px;
$icon-photo-hover-image: '../images/sprite.png';
$icon-photo-hover: (71px, 40px, -71px, -40px, 20px, 20px, 103px, 91px, '../images/sprite.png', 'icon-photo-hover', );
$icon-photo-name: 'icon-photo';
$icon-photo-x: 0px;
$icon-photo-y: 61px;
$icon-photo-offset-x: 0px;
$icon-photo-offset-y: -61px;
$icon-photo-width: 20px;
$icon-photo-height: 20px;
$icon-photo-total-width: 103px;
$icon-photo-total-height: 91px;
$icon-photo-image: '../images/sprite.png';
$icon-photo: (0px, 61px, 0px, -61px, 20px, 20px, 103px, 91px, '../images/sprite.png', 'icon-photo', );
$icon-search-name: 'icon-search';
$icon-search-x: 0px;
$icon-search-y: 35px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -35px;
$icon-search-width: 27px;
$icon-search-height: 26px;
$icon-search-total-width: 103px;
$icon-search-total-height: 91px;
$icon-search-image: '../images/sprite.png';
$icon-search: (0px, 35px, 0px, -35px, 27px, 26px, 103px, 91px, '../images/sprite.png', 'icon-search', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 37px;
$icon-tel-y: 0px;
$icon-tel-offset-x: -37px;
$icon-tel-offset-y: 0px;
$icon-tel-width: 34px;
$icon-tel-height: 34px;
$icon-tel-total-width: 103px;
$icon-tel-total-height: 91px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (37px, 0px, -37px, 0px, 34px, 34px, 103px, 91px, '../images/sprite.png', 'icon-tel', );
$icon-thumbs-name: 'icon-thumbs';
$icon-thumbs-x: 91px;
$icon-thumbs-y: 0px;
$icon-thumbs-offset-x: -91px;
$icon-thumbs-offset-y: 0px;
$icon-thumbs-width: 12px;
$icon-thumbs-height: 12px;
$icon-thumbs-total-width: 103px;
$icon-thumbs-total-height: 91px;
$icon-thumbs-image: '../images/sprite.png';
$icon-thumbs: (91px, 0px, -91px, 0px, 12px, 12px, 103px, 91px, '../images/sprite.png', 'icon-thumbs', );
$spritesheet-width: 103px;
$spritesheet-height: 91px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-arrow-right-white-hover, $icon-arrow-right-white, $icon-caret, $icon-email, $icon-l-assembly, $icon-l-drawing, $icon-l-photo, $icon-l-scheme, $icon-login, $icon-photo-hover, $icon-photo, $icon-search, $icon-tel, $icon-thumbs, );
$spritesheet: (103px, 91px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
