.inner{
	.about{
		background: #fff;
		padding-top: 11rem;
	}

	.bottom-text{
		border-top: 1px solid #d5d5d5;
		padding: 7rem 0 0;
		margin-top: 6rem;
	}


}

.advantages,
.types,
.find-adaptor{
	h1{
		font-family: "Futura Demi C";
		color: #000000;
		font-size: 4rem;
		text-transform: none;
	}
}

.advantages{
	background: #f2f2f2;
	padding: 10rem 0 10rem;

	&__list{
		margin-left: -3rem;
		margin-right: -3rem;
		padding-top: 4rem;
	}
	&__item{
		width: calc(100% / 5 - 6rem);
		margin: 0 3rem;
	}
}

.item-advantage{
	&__title{
		color: #222222;
		font-family: "Futura Demi C";
		font-size: 25px;
		line-height: 1.2;
		margin-top: 1.5rem;
	}

	&__text{
		color: #303030;
		font-family: "Futura Book C";
		font-size: 17px;
		font-weight: 400;
		line-height: 1.47;
		margin-top: 1.5rem;
	}
}


.types{
	background: #fff;
	padding-top: 8.5rem;
	padding-bottom: 8rem;
	&__item{
		padding-right: 4rem;
		padding-top: 6rem;
	}
}

.item-type{
	&__title{
		color: #000000;
		font-family: "Futura Demi C";
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 1.2;
		margin-top: 3.5rem;
		text-transform: uppercase;
	}

	&__text{
		color: #3d3d3d;
		font-family: "Futura Book C";
		font-size: 17px;
		font-weight: 400;
		line-height: 1.47;
		padding-top: 2.5rem;

		$color_1 : #2065d8;
		// ul
		ul{
			margin: 1.5rem 0;
			li{
				color: #5c5c5c;
				padding-left: 35px;
				position: relative;
				margin: 10px 0;
				font-family: "Futura Book C";
				&:before{
					@extend .before;
					background-color: $color_1;
					border-radius: 5px;
					width: 20px;
					height: 5px;			
					left: 0;
					top: 12px;		
				}				
			}
		}
	}
}


// wiper-intro
.wiper-intro{
	background-color: #061129;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 2rem;
	color: #e4e7e9;
	font-family: "Futura Book C";
	padding: 13.5rem 0 ;

	strong{
		font-family: "Futura Demi C";
		font-weight: 600;
	}

	h1,
	.title{
		color: #ffffff;
		font-family: "Futura BT";
		font-size: 5rem;
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.subtitle{
		color: #ff010b;
		font-family: "Futura Demi C";
		font-size: 40px;
		font-weight: 400;
		line-height: 1.2;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	.intro-icons{
		color: #ffffff;
		font-family: "Futura Demi C";
		font-size: 30px;
		font-weight: 400;
		line-height: 1.2;
		margin: 4rem 0;
		img{
			margin-right: 1.3rem;
		}

		.cell{
			display: flex;
			align-items: center;
		}

		.cell:not(:last-child){
			margin-right: 2.5rem;
		}
	}

	.label{
		background-repeat: no-repeat;
		width: 320px;
		height: 438px;
		color: #fff;
		font-family: "Futura Demi C";
		font-size: 3rem;
		line-height: 1.33;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: 5rem;		
	}
}



.find-adaptor{
	background-color: #083989;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 65rem;
	padding: 10rem 0 14rem;
	h1{
		color: #fff;
	}

	.nav{
		padding: 3rem 0 4.5rem;
		&-item{
			&:not(:last-child){
				margin-right: 3.6rem;
			}			
		}
		&-link{
			color: #12f7ff;
			font-family: "Futura Demi C";
			font-size: 2.5rem;
			font-weight: 400;
			line-height: 1.2;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}

			&.active{
				text-decoration: none;
				color: #ff010b;
			}
		}
	}
}


.item-adaptor{	
	height: 29rem;
	position: relative;
	width: 13rem; 
	&:after,
	&:before{
		@extend .before;
		background: #fff;
		border-radius: 1.2rem;
		opacity: .1;
		width: 100%;
		height: calc(100% - 1rem);
	}

	&:after{
		left: 5px;
		top: 5px;
	}

	&:before{
		left: 10px;
		top: 10px;
	}

	&__body{
		align-items: center;
		background: #fff;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		height: 28rem;
		justify-content: space-between;
		padding: 1.6rem .8rem;
		position: relative;
		text-align: center;
		z-index: 2;
	}

	&__top{
		height: 9.2rem;
		flex-shrink: 0;
		.pic{
			height: 4.5rem;
		}
		.title{
			padding-top: 1rem;
		}
	}

	&__bottom{
		margin-top: 2.5rem;
		height: 11rem;
		.pic{
			height: 5rem;
		}
		.title{
			padding-top: 1rem;
		}
	}

	&__arrow{
		margin-top: 1rem;
	}

	.title{
		color: #222222;
		font-family: "Futura Book C";
		font-size: 1.7rem;
		font-weight: 400;
		line-height: 1.2;
	}
}