@import 'sprite';
@import 'colors';

/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */
.ms-parent {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	padding: 0 !important;
	width: 100% !important;

	&.form-control{
		padding-left: 0;
		padding-right: 0;
	}

	&.brand,
	&.class,
	&.model,
	&.body
	{
		width: 100% !important;
	}
}

.ms-choice {
	background: none;
	border: 1px solid #d6d6d6;
	align-items: center;
	color: #fff;
	cursor: pointer;
	display: flex;
	height: 40px;
	line-height: 26px; 
	overflow: hidden;
	padding: 0;
	font-size: 1.8rem;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	width: 100%;
	transition: .3s;

	&:hover{
		& > div {
			// background-color: $color9;
			&:before{
				// filter: grayscale(1) brightness(5);
			}
		}
	}

	&:not(.disabled){
		&:hover,
		&:focus{
			// box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		}
	}
}
.ms-choice.disabled {
	background-color: #eaecf0;
	background-image: none;
	cursor: default;
	& > div {
		background-color: #dcdde0;
		&:before{
			filter: grayscale(1) brightness(5);
		}
	}
}
.ms-choice > span {
	display: block;
	line-height: 1.2;
	overflow: hidden;
	padding-left: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ms-choice > span.placeholder {
	color: #999;
}
.ms-choice > div {
	position: absolute;
	top: 5px;
	right: 6px;
	width: 31px;
	height: 31px;
	/*background: url("multiple-select.png") left top no-repeat;*/
	&:before{
		@include sprite($icon-caret);
		content: "";
		display: block;
		left: 50%;
		margin-left: -5px;
		margin-top: -4px;
		position: absolute;
		top: 50%;
	}
}
.ms-choice > div.open {
	background-position: right top;
}

.ms-drop {
	width: 100%;
	overflow: hidden;
	display: none;
	margin-top: -1px;
	padding: 20px 0 5px;
	position: absolute;
	z-index: 1000;
	background: #fff;
	color: #000;
}
.ms-drop.bottom {
	// top: calc(100% + 10px);
	top: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.ms-drop.top {
	bottom: 100%;
	box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.ms-search {
	display: inline-block;
	margin: 0;
	min-height: 40px;
	padding: 0 20px; 
	position: relative;
	white-space: nowrap;
	width: 100%;
	z-index: 10000;
	box-sizing: border-box;
}
.ms-search input {
	width: 100%;
	height: auto !important;
	min-height: 40px;
	padding: 0 16px 0 45px;
	margin: 0;
	outline: 0;
	border: 1px solid #d6d6d6;
	background: #fff url("../images/search-icon.png") no-repeat left 13px center;
	background-color: $color8;  
}

.ms-drop ul {
	overflow: auto;
	margin: 0;
	padding: 12px 0;
}
.ms-drop ul > li {
	list-style: none;
	display: list-item;
	background-image: none;
	position: static;
	margin: .6rem 0;
	span{
		// padding: 0 8px 0 49px;  	
	}
}
.ms-drop ul > li .disabled {
	opacity: 0.35;
	filter: Alpha(Opacity=35);
}
.ms-drop ul > li.multiple {
	display: block;
	// padding-top: 5px;
	// padding-bottom: 5px;

	input[type="checkbox"]{
		display: none;
	}
}
.ms-drop ul > li.group {
	clear: both;
}
.ms-drop ul > li.multiple label {
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	z-index: 2;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ms-drop ul > li label {
	font-weight: normal;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}
.ms-drop ul > li label.optgroup {
	font-weight: bold;
}

.ms-drop ul > li{

	&.selected{
		span{
			font-family: "Futura Demi C";
		}
	}

	&.hide-radio,
	&.multiple
	{

		position: relative;
		&:before,
		&:after{
			// content:"";
			// display: block;
			// position: absolute;
		}

		&:before{
			// background-color: #e5e6e7;
			// height: 20px;
			// left: 20px;
			// top: 5px;
			// width: 20px;
			// border: none;
		}

		&.selected{
			// span{
			// 	font-weight: 700;
			// 	font-family: 'Futura BT';
			// }
		// 	&:before{
		// 		background-color: $color14;
		// 	}
		// 	&:hover{
		// 		&:after{
		// 			background-color: #fff
		// 		}
		// 	}
		}
		label{
			font-size: 1.5rem;			
		}
	}
}


.ms-drop ul > li{
	&.hide-radio{
		&:before,
		&:after{
			border-radius: 50%;
			pointer-events: none;
		}
		&:after{
			background-color: $color2;
			height: 6px;
			left: 27px;
			top: 12px;
			width: 6px;
		}		
		&.selected{

		}
		&:hover{
			&:before{
				// background-color: $color2;
			}
			&:after{
				background-color: #2065d8;
			}
			label{
				// transition: color .3s;
				&:hover{
					// color: #fff;   		
				}
			}
		}
	}

	&.multiple{
		transition: .3s;
		&:before{
			border-radius: 5px;
			pointer-events: none;
		}
		&:after{
			content: "";
			display: block;
			left: 23px;
			position: absolute;
			top: 10px;
		}
		&:hover{
			background-color: $color3;
			color: $color2;
			&:before{
				background-color: #e5e6e7;
			}
		}

		&.selected{

			&:after{
				// background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAMAAAB4W0xQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEUGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcrr////N33TRAAAAEHRSTlMAUVcDn2lgM4cn7TDksfSAfTie/wAAAAFiS0dEEeK1PboAAAAHdElNRQfjCRIVFTiuXgH4AAAAQUlEQVQI11XKQRLAIAwCQDRqa1ot/39tc1ETLrAzACcpi1MhaxBbULG+7u4kSn22IC+pY8nOSh6ZpxfwBUFyWvMH1eQCvV1aAXwAAAAASUVORK5CYII=");
				// background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAQAAADljHTpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjCRMQIjn3KTTUAAAAc0lEQVQY03XQMQqDUAyA4d8KvYprwZMIHsC1t3DzGO8CQvFOrm8TBJe/gxXR95oMGT6SkBSSjYYnI+YyqPp+ZLoCHQDrvy4Nglg7WKUkWBrV6OtOO86qRqcrHWOjZ4Rz/15ql5QOxD4lKX4fKmnZ+FwP/gJMS6DpesHpzwAAAABJRU5ErkJggg==");
				background-repeat: no-repeat;
				background-position: center;
				// filter: brightness(5);
				width: 14px;
				height: 11px;
			}
			&:hover{

				&:after{
					// background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAMAAAB4W0xQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEUGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcroGcrr////N33TRAAAAEHRSTlMAUVcDn2lgM4cn7TDksfSAfTie/wAAAAFiS0dEEeK1PboAAAAHdElNRQfjCRMQJCGyHwsEAAAAQUlEQVQI11XKQRLAIAwCQDRqa1ot/39tc1ETLrAzACcpi1MhaxBbULG+7u4kSn22IC+pY8nOSh6ZpxfwBUFyWvMH1eQCvV1aAXwAAAAASUVORK5CYII=");
				}
			}
		}
	}
}


.ms-drop ul > li.hide-radio:focus,
.ms-drop ul > li.hide-radio:hover {
	// background-color: #2065d8;
	// color: #fff;
	color: #2065d8;
}
.ms-drop ul > li.hide-radio.selected {
	// color: #fff;
	// background-color: #2065d8;
}
.ms-drop ul > li.hide-radio label {
	margin-bottom: 0;
	padding: 3px 0;
}
.ms-drop ul > li.hide-radio input {
	display: none;
}
.ms-drop input[type=radio], .ms-drop input[type=checkbox] {
	margin: 5px;
}
.ms-drop .ms-no-results {
	display: none;
	padding-left: 20px;	
	font-size: 18px;	
}

/*# sourceMappingURL=multiple-select.css.map */


.listwrapper{
	max-height: 250px;
	position: relative;
	padding: 0 20px;
	z-index: 10;
	overflow: hidden;
	ul{
		height: auto !important;
		max-height: none !important
	}
}

.checkbox-tab .ms-drop{
	ul > li{
		margin: .4rem 0;
	}
	li label input {
	  position: absolute;
	  z-index: -1;
	  opacity: 0;
	  margin: 10px 0 0 20px;
	}
	span {
		font-size: 1.5rem;
		position: relative;
		padding: 0 0 0 32px;
		cursor: pointer;
	}
	span:before {
	  content: '';
	  position: absolute;
	  top: -3px;
	  left: 0;
	  width: 22px;
	  height: 22px;
	  // background: #fff;
	  border: 2px solid #7f8184;
	}
	li label input:checked + span:before {
		$color: #2065d8;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAAjUlEQVQokWP8//8/AxlAjoGB4SkDA8NfJjI0T2ZgYHgIxfwMIBeQgOf8RwW6lGieA/Y+mZrn////nxnZAJv///8H4tA8H5dmmAE2aJJEa4YZ4IdFEVGakb2Arvg2MZrRAxHdEIKascXCBlI0YzOA/////2+hmmcS0gzC2PICGwMDgwQDA8MjgomagYEBAD19HxkTqPmyAAAAAElFTkSuQmCC');		
		background-repeat: no-repeat;
		background-position: center;
		background-color: $color;
		border-color: $color;
	}

	li:hover{
		span:before {
			// border-color: #fff !important
		}
	}
}





.radio-tab .ms-drop{
	li label input {
	  position: absolute;
	  z-index: -1;
	  opacity: 0;
	  margin: 10px 0 0 20px;
	}
	span {
		display: block;
	  position: relative;
	  padding: 0 0 0 32px;
	  cursor: pointer;
	  font-size: 1.5rem;
	}
	span:before {
	  content: '';
	  position: absolute;
	  top: -2px;
	  left: 0;
	  width: 22px;
	  height: 22px;
	  // background: #fff;
	  border: 2px solid #7f8184;
	  border-radius: 50%;
	  transition: .3s
	}
	span:after {
		background: #fff;
		content: "";
		position: absolute;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		left: 9px;
		top: 7px;
	}

	label{

		letter-spacing: normal !important;
	}

	li label input:checked + span:before {
		$color: #2065d8;
		background-color: $color;
		border-color: $color;
	}

	li:hover{
		span:before {
			border-color: #2065d8 !important
		}
	}
}

